
body {
  background: #f9fafb;
  color: #1f2937;
}
/* ====== HERO ====== */
.dashboard-hero {
  display: flex;
  justify-content: space-between;
  background-image: url("../../../../public/assets/esmalte-fondo-donut-rosa-sabroso_23-2148268904.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 2rem 2.5rem;
}

.dashboard-hero::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(212, 139, 255,0.5);
}

.dashboard-hero-img{
  z-index: 10;
}

.dashboard-hero-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content h1 {
  margin-bottom: 10px;
  font-size: 4rem;
  font-weight: bold;
  color: #333;
  -webkit-animation: text-shadow-pop-bl 0.6s both;
  animation: text-shadow-pop-bl 0.6s both;
}

.hero-content p {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 1.2rem;
  color: #555;
}

.btn-hero {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 1rem 1.8rem;
  font-size: 1.2rem;
  color: #2f66ff;
  background-color: #fff;
  background-size: 100% auto;
  border: 1px solid #2f66ff;
  border-radius: 16px;
  transition: background-size 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}

.btn-hero:hover {
  transform: scale(1.02);
  background-color: #fff;
  background-size: 200% auto;
  background-position: right center;
  animation: pulse512 1.5s infinite;
}

/* ====== CATEGORIAS ====== */
.dashboard-categories {
  padding: 5rem 4rem;
  background-color: #fff;
}

.dashboard-categories h2 {
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 600;
}

.category-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.category-card {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  background: #f2f2f2;
  border-radius: 12px;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #fff;
  text-align: center;
  transition: 0.3s;
}

.category-card-icon{
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.category-card-icon img{
  width: 140%;
  height: 130%;
  object-fit: cover;
}

.category-card-icon.snacks{
  background-color: rgba(250, 186, 143, 0.3);
  border: 2px solid rgba(255, 162, 86, 0.6);
}

.category-card-icon.drink{
  background-color: rgba(143, 229, 250, 0.3);
  border: 2px solid rgba(86, 187, 255, 0.6);
}

.category-card-icon.util{
  background-color: rgba(143, 250, 209, 0.3);
  border: 2px solid rgba(86, 255, 199, 0.6);
}

.category-card-icon.other{
  background-color: rgba(250, 143, 143, 0.3);
  border: 2px solid rgba(255, 86, 86, 0.6);
}

.category-card h3 {
  margin: 1rem 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
}

.category-card p {
  max-width: 280px;
  margin-bottom: 2rem;
  font-size: 0.9rem;
  font-weight: normal;
  color: #777;
}

.category-card a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem ;
  font-weight: bold;
  font-size: 1rem;
  color: #48a2ec;
  background: #fff;
  border: 1px solid #2facff;
  border-radius: 8px;
}

.category-card.snacks {
  border: 2px solid #fc8047;
}
.category-card.bebidas {
  border: 2px solid #4dcafc;
}
.category-card.utiles {
  border: 2px solid #4dfc9c;
}
.category-card.other {
  border: 2px solid #fc4d5c;
}

/* ====== PRODUCTOS DESTACADOS ====== */
.dashboard-featured {
  padding: 5rem 6rem;
  background: #f9fafb;
}

.dashboard-featured h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.dashboard-featured p {
  margin-bottom: 1.8rem;
  font-size: 1rem;
  color: #777;
}

.product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.card {
  position: relative;
  background: transparent;
  width: 270px;
  height: 300px;
  border: none;
}

.card:hover {
  width: 270px;
}

.card .container-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  width: 190px;
  height: 190px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 3px 1px #1818183d, 2px 2px 3px #18181865, inset 2px 2px 2px #ffffff;
  transition: all 0.3s ease-in-out, opacity 0.3s;
  transition-delay: 0.6s, 0s;
  cursor: pointer;
}

.card:hover .container-image {
  opacity: 0;
  border-radius: 8px;
  transition-delay: 0s, 0.6s;
}

.card .container-image .image-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 125px;
  height: auto;
  object-fit: contain;
  filter: drop-shadow(2px 2px 2px #1818188a);
  transition: all 0.3s ease-in-out;
  transition-delay: 0.4s;
}

.card:hover .container-image .image-circle {
  opacity: 0;
  transition-delay: 0s;
}

.card .content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 190px;
  height: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translate(-50%, -50%);
  background: #f7f9fc;
  padding: 20px;
  cursor: pointer;
  border: 1px solid rgba(255, 0, 161, 0.25);
  border-radius: 12px;
  box-shadow: 0 0 4px rgba(255, 0, 5, 0.25), 2px 2px 3px #18181865, inset 2px 2px 2px #ffffff;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  transition-delay: 0s;
  z-index: 1;
}

.card:hover .content {
  width: 270px;
  height: 190px;
  visibility: visible;
  transition-delay: 0.5s;
}

.card .content .detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transition-delay: 0s;
}

.card:hover .content .detail {
  color: #181818;
  opacity: 100%;
  transition: 1s;
  transition-delay: 0.3s;
}

.card .content .detail span {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 800;
}

.card .content .detail p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: normal;
  color: #2f66ff;
}

.card .content .detail button {
  width: 75px;
  height: 25px;
  margin-top: auto;
  font-size: 13px;
  color: #ffffff;
  background: #f07f34;
  border: none;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.card .content .detail button:hover {
  background: #ec922c;
}

.card .content .product-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.card .content .product-image .box-image {
  display: flex;
  position: absolute;
  top: 0;
  left: -25%;
  width: 100%;
  height: 115%;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.5s ease-in-out;
  transition-delay: 0s;
}

.card:hover .content .product-image .box-image {
  position: relative;
  top: -25%;
  left: 0;
  opacity: 100%;
  transform: scale(1);
  transition-delay: 0.3s;
}

.card .content .product-image .box-image .img-product {
  margin: auto;
  width: 7rem;
  height: auto;
}


/* ====== RESPONSIVE ====== */
@media (max-width: 1024px) {
  .navbar {
    padding: 16px 5%;
  }

  .dashboard-hero {
    padding: 60px 5%;
  }

  .dashboard-categories {
    padding: 3rem 2rem;
  }

  .dashboard-featured {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #e5e7eb;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 1rem 5%;
  }

  .nav.open {
    display: flex;
  }

  .nav a {
    font-size: 1rem;
    padding: 10px 0;
    border-bottom: 1px solid #f3f4f6;
  }

  .user-info {
    display: none;
  }

  .logo{
    width: 100px;
  }

  .dashboard-hero {
    padding: 40px 5%;
    text-align: center;
  }

  .hero-content {
    display: flex;
    align-items: center;
  }

  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .btn-hero {
    font-size: 1rem;
    padding: 0.8rem 1.2rem;
  }

  .dashboard-categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .dashboard-featured{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .category-cards {
    flex-direction: column;
    align-items: center;
  }

  .product-container {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 12px 4%;
  }

  .nav a {
    font-size: 0.75rem;
  }

  .footer-content {
    flex-direction: column;
    gap: 20px;
  }

  .footer-column h4 {
    font-size: 1.1rem;
  }

  .product-card {
    width: 90%;
    max-width: 100%;
  }

  .product-card .icon {
    height: 160px;
  }

  .hero-content h1 {
    font-size: 2rem;
  }
}
