/* ====== RESET GENERAL ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #f9fafb;
  color: #333;
}

/* ====== CONTAINER GENERAL ====== */
.login-container {
  width: 100%;
  max-width: 1200px;
  height: 90%;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}

.login-form-section {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2.5rem;
  background-color: #f7f9fc;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid rgba(96, 150, 231, 0.25);
}

.login-image-section {
  width: 50%;
  background: #fff;
  overflow: hidden;
}

.login-image-section img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.login-form-content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.login-form-content .logo {
  width: 100%;
  height: auto;
  font-size: 1.4rem;
  font-weight: 600;
  color: #6366f1;
}

.login-form-content .title {
  margin-bottom: 2rem;
  font-size: 1.7rem;
  color: #ef4444;
}

/* ====== FORMULARIO ====== */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form .input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login-form .input-container label {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: #333;
}

.login-form .input-content-login {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 14px;
  background-color: #fff;
  border: 1.5px solid #ef4444;
  border-radius: 8px;
}

.login-form .input-content-login input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 0.9rem;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
}

.login-options a {
  color: #ef4444;
  text-decoration: none;
}

/* ====== BOTON ====== */
.button-login {
  display: flex;
  justify-content: center;
  margin-top: 0.6rem;
}

.login-btn {
  width: fit-content;
  padding: 1rem 8rem;
  font-size: 1rem;
  color: #fff;
  background: linear-gradient(to right, #f97316, #ef4444);
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.login-btn:hover {
  transform: scale(1.05);
  background: linear-gradient(to right, #ea580c, #dc2626);
}

.register-link {
  margin-top: 20px;
  font-size: 0.85rem;
  text-align: center;
}

.register-link a {
  color: #ef4444;
  font-weight: 500;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .container {
    padding: 1rem 2rem;
  }

  .login-form-section {
    padding: 4rem 2rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .login-container {
    min-height: 130vh;
    height: auto;
    flex-direction: column-reverse;
  }

  .login-form-section,
  .login-image-section{
    width: 100%;
    border-radius: 0;
  }

  .login-form-section{
    padding: 2rem 1.5rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: visible;
  }

  .login-image-section {
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .login-image-section img {
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
  }

  .title {
    font-size: 1.3rem;
  }

  .login-btn {
    width: 100%;
    font-size: 0.95rem;
    padding: 0.9rem;
  }

  .register-link {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .login-form-section {
    padding: 1.5rem 1rem;
  }

  .logo {
    font-size: 1.1rem;
  }

  .title {
    font-size: 1.2rem;
  }

  .input-container label {
    font-size: 0.85rem;
  }

  .input-content-login {
    padding: 0.75rem 1rem;
    font-size: 0.85rem;
  }

  .input-content-login input {
    font-size: 0.85rem;
  }

  .login-options {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    font-size: 0.75rem;
  }

  .login-btn {
    font-size: 0.9rem;
    padding: 0.8rem;
  }

  .register-link {
    font-size: 0.75rem;
    margin-top: 16px;
  }
}
